PORT=5002
DATABASE_URL=mongodb+srv://...
JWT_SECRET=your_admin_jwt_secret_here
REDIS_URL=redis://localhost:6379
AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=ap-south-1
S3_BUCKET_NAME=your_s3_bucket_name_here
